/* footer */
h1 {
  font-family: "Bitter", serif;
}

h2 {
  font-family: "Bitter", serif;
}

h3 {
  font-family: "Bitter", serif;
}

h4 {
  font-family: "Bitter", serif;
}

h5 button {
  font-family: "Bitter", serif;
}

.carousel-container {
  width: 100%;
  max-width: 1600px;
  color: white;
  font-family: saenz-font;
  display: flex;
}

#separador {
  background-color: MediumSeaGreen;
  background-image: repeating-linear-gradient(45deg, transparent, transparent, 25px, rgba(105, 133, 128, 0.3) 25px, rgba(20, 43, 31, 0.459), 40px);
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
#separador::after {
  content: "";
  background-color: transparent;
  display: block;
  height: 20px;
  width: 50px;
  margin: 0 auto;
  position: relative;
  left: auto;
  margin-top: -40px;
}
#separador .content {
  background-color: rgb(8, 117, 117);
  width: 150%;
  height: 150px;
  margin-left: -25%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.parrafo {
  font-family: "Bitter";
  font-weight: bold;
}

#mindfull {
  background-color: rgb(12, 155, 148);
  position: relative;
  margin-top: -20px;
  z-index: 10;
  box-shadow: 0 0 10px rgba(104, 104, 104, 0.623);
}

.text-shadow {
  text-shadow: 0 3px 3 px rgba(0, 0, 0, 0.623);
}

.card-border {
  border: solid 3px rgb(7, 7, 7);
  border-radius: 20px;
  overflow: hidden;
  transition: all ease out 0.2s;
}
.card-border:hover {
  transform: scale(1.05);
}

#pensarverde {
  background-color: rgb(10, 161, 141);
  background-image: url(/Imagenes/Concientizando/nature.jpg), linear-gradient(0deg white 0%, rgb(1, 99, 129) 57%);
  background-repeat: repeat-x;
  background-size: 80%;
  margin-top: -20px;
}

.speaker-form-header {
  text-align: center;
  background-color: #f6f7f8;
  border: 1px solid #D6D9dC;
  border-radius: 3px;
  width: 80%;
  margin: 40px 0;
  padding: 50px;
  font-size: 30px;
  margin-bottom: 20px;
}

.speaker-form {
  background-color: #fff;
  border: 1px solid #D6D9dC;
  border-radius: 3px;
  width: 80%;
  margin: 0 0 40px 0;
  padding: 50px;
}

.form-row {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
.form-row input[type=text] {
  background-color: #f6f7f8;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}
.form-row input[type=email] {
  background-color: #f6f7f8;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}
.form-row label {
  margin-bottom: 15px;
}
.form-row textarea {
  font-size: 14px;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 7px;
  min-height: 200px;
  width: 100%;
  resize: none;
  min-width: 100%;
}
.form-row .instructions {
  color: #999;
  margin-bottom: 30px;
  font-size: 14px;
}
.form-row button {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: cadetblue;
  border: none;
  border-radius: 3px;
  padding: 10px 40px;
  cursor: pointer;
}
.form-row button:hover {
  background-color: #76AEED;
}
.form-row button:active {
  background-color: #407FC7;
}

body {
  background-color: MediumSeaGreen;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 48;
}

h3 {
  font-size: 26px;
  font-weight: bold;
}

h1 {
  color: #faab02;
  font-weight: bolder;
  margin-bottom: 1rem;
  padding: 1rem;
}

a {
  color: #1ac886;
}

h4 {
  color: black;
  font-weight: bolder;
  margin-bottom: 1rem;
  padding: 1rem;
}

button {
  color: white;
  border: 0;
  background: #faab02;
}

h1 {
  color: #faab02;
  font-weight: bolder;
  margin-bottom: 1rem;
  padding: 1rem;
}

a {
  color: #1ac886;
}

h4 {
  color: black;
  font-weight: bolder;
  margin-bottom: 1rem;
  padding: 1rem;
}

button {
  color: white;
  border: 0;
  background: #faab02;
}

h1 {
  color: #faab02;
  font-weight: bolder;
  margin-bottom: 1rem;
  padding: 1rem;
}

a {
  color: #1ac886;
}

h4 {
  color: black;
  font-weight: bolder;
  margin-bottom: 1rem;
  padding: 1rem;
}

button {
  color: white;
  border: 0;
  background: #faab02;
}

.ok, .error {
  border-radius: 6px;
  padding: 20px 4px;
  border: 1px solid gray;
}

.error {
  background-color: aqua;
}

.ok {
  background-color: #f6c31c;
}
.disclaimer {
  display: none;
}
/*# sourceMappingURL=style.css.map */
