h1, h2, h3, h4, h5 button {
    font-family: 'Bitter', serif;
}

#separador {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
    content {
        background-color: rgb(8, 117, 117);
        width: 150%;
        height: 150px;
        margin-left: -25%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }
}




#separador {
    background-color: rgba(7, 138, 88, 0.623);
    background-image: repeating-linear-gradient(45deg, transparent, transparent, 25px, rgba(105, 133, 128, 0.3) 25px, rgba(20, 43, 31, 0.459), 40px);
    ::after {
        content: '';
        background-color: transparent;
        display: block;
        height: 20xp;
        width: 50px;
        margin: 0 auto;
        position: relative;
        left: auto;
        margin-top: -40px;
    }
}

.card-border {
    border: solid 3px rgb(7, 7, 7);
    border-radius: 20px;
    overflow: hidden;
    transition: all ease out 0.2s;
    &:hover {
        transform: scale(1.05); 
    }
 }

#mindfull {
    background-color: rgba(22, 126, 77, 0.616);
    position: relative;
    margin-top: -20px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(104, 104, 104, 0.623);
}


.text-shadow {
    text-shadow: 0 3px 3 px rgba(0, 0, 0, 0.623);
}

.carousel-container {
    width: 100%;
    max-width: 1600px;
    color: white;
    font-family: saenz-font;
    display: flex;
}

.speaker-form-header {
    text-align: center;
    background-color: #f6f7f8;
    border: 1px solid #D6D9dC;
    border-radius: 3px;
    width: 80%;
    margin: 40px 0;
    padding: 50px;
}

.speaker-form-header h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.speaker-form {
    background-color: #fff;
    border: 1px solid #D6D9dC;
    border-radius: 3px;
    width: 80%;
    margin: 0 0 40px 0;
    padding: 50px;
}
#pensarverde {
    background-color: white;
    background-image: url(/Imagenes/Concientizando/nature.jpg), linear-gradient((0deg white) 0%, rgb(1, 99, 129) 57%);
    background-repeat: repeat-x;
    background-size: 80%;
    margin-top: -20px;
}


.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    input[type="text"],
    input[type="email"] {
        background-color: #f6f7f8;
        border: 1px solid #d6d9dc;
        border-radius: 3px;
        width: 100%;
        padding: 7px;
        font-size: 14px;
        label {
            margin-bottom: 15px;
            textarea {
                font-size: 14px;
                border: 1px solid #d6d9dc;
                border-radius: 3px;
                margin-bottom: 10px;
                padding: 7px;
                min-height: 200px;
                width: 100%;
                resize: none;
                min-width: 100%;
                .instructions {
                    color: #999;
                    margin-bottom: 30px;
                    font-size: 14px;
                    button {
                        font-size: 16px;
                        font-weight: bold;
                        color: #fff;
                        background-color: cadetblue;
                        border: none;
                        border-radius: 3px;
                        padding: 10px 40px;
                        cursor: pointer;
                        &:hover {
                            background-color: #76AEED;
                            :active {
                                background-color: #407FC7;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}
